body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/table.jpeg);

}

.display-container {
    display: flex;
    width: 240px;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: antiquewhite;
    margin: auto;
    border: beige;
    border-radius: 8px;
}

h1 {
    color: goldenrod;
    align-items: center;
}

#message-el {
    color: black;
    align-items: center;
    
}

.body-container {
    margin: auto;
    align-items: center;
}

.body-text {
    color: white;
    align-items: center;
}

.start-button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
}

.button-group {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
}
