body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 56px;
    gap: 12px;
}

.button {
    display: flex;
    width: 80px;
    height: 32px;
    align-items: center;
    justify-content: center;
}